Repository tbellicha/AutoGrader, pull requests merged in 2023-11, with the labels that each got.

#37 25 format results output
  frontend/.gitignore
  frontend/mightymeld.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ServerResponse.tsx
  frontend/vite.config.ts
Labels: Front

#41 Add types and interfaces for login response data.
  frontend/src/views/Login.tsx
Labels: enhancement, Front

#43 42 fix the login and signup responses
  backend/passport/strategy_options.js
  backend/server.js
Labels: Back

#44 22 create endpoint to manage a user
  backend/server.js
Labels: enhancement, Back

#47 Endpoint that lists all the students
  backend/server.js
Labels: enhancement, Back

#50 48 list all classes from a teacher
  backend/server.js
Labels: enhancement, Back

#46 Adding teacher dashboard and server response update
  frontend/src/components/ServerResponse.tsx
  frontend/src/components/TeacherDashboard.tsx
  frontend/src/services/TeacherDashboardService.ts
  frontend/src/types/TeacherDashboard.ts
Labels: Front

#51 Endpoint that list all the students from a course
  backend/server.js
Labels: enhancement, Back

#55 Add fixtures and student information getter
  backend/server.js
Labels: enhancement, Back

#57 56 endpoint to list assignments from a course
  backend/server.js
Labels: enhancement, Back

#53 Breaking teacher dashboard into subcomponents
  .vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AssignmentCreation.tsx
  frontend/src/components/AuthContext.tsx
  frontend/src/components/CourseCreation.tsx
  frontend/src/components/CourseDetails.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/StudentEnrollment.tsx
  frontend/src/components/TeacherDashboard.tsx
  frontend/src/components/TeacherDashboard_deprecated.tsx
  frontend/src/components/TeacherNavbar.tsx
  frontend/src/routes.ts
  frontend/src/types/TeacherDashboard.ts
Labels: Front

#59 58 create endpoint to create submissions in db
  backend/server.js
  frontend/src/components/AssignmentCreation.tsx
  frontend/src/components/CourseCreation.tsx
  frontend/src/services/TeacherDashboardService.ts
Labels: enhancement, Back

#61 19 create student dashboard view
  .vscode/settings.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/ClassTable.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/PrivateRoute.tsx
  frontend/src/components/StudentNavbar.tsx
  frontend/src/components/UserContext.tsx
  frontend/src/routes.ts
  frontend/src/services/StudentDashboardService.ts
  frontend/src/types/Assignments.ts
  frontend/src/types/Enrollments.ts
  frontend/src/types/Route.ts
  frontend/src/types/StudentInfo.ts
  frontend/src/views/Login.tsx
  frontend/src/views/StudentAssignments.tsx
  frontend/src/views/StudentDashboard.tsx
Labels: enhancement, Front
