Repository tbellicha/AutoGrader, pull requests merged in 2023-10, with the labels that each got.

#2 Docker, Prisma, Github CI
  .github/ci.yaml
  backend/Dockerfile
  backend/database_init.js
  backend/local.env
  backend/package.json
  backend/prisma/schema.prisma
  backend/server.js
  backend/start.sh
  database/Dockerfile
  database/dump.sql
  database/migrations/Assignments.sql
  database/migrations/Courses.sql
  database/migrations/Enrollments.sql
  database/migrations/Students.sql
  database/migrations/Submissions.sql
  database/migrations/Teachers.sql
  database/migrations/Users.sql
  database/seed/populate_students.sql
  docker-compose.yaml
  run
Labels: enhancement

#3 Amd
  .github/workflows/ci.yaml
  backend/pnpm-lock.yaml
  backend/server.js
  frontend/src/components/FilesUpload.tsx
  frontend/src/components/ServerResponse.tsx
  frontend/src/services/FileUploadService.ts
Labels: enhancement

#5 4 create roles in the database
  backend/prisma/schema.prisma
  backend/server.js
Labels: enhancement

#9 8 loginsignup endpoints
  backend/package.json
  backend/passport/bearer_token.js
  backend/passport/strategy_options.js
  backend/prisma/schema.prisma
  backend/server.js
  backend/utils.js
  run
Labels: enhancement, Back

#11 10 create admin user
  backend/passport/strategy_options.js
  backend/server.js
Labels: enhancement, Back

#17 15 create login page
  backend/pnpm-lock.yaml
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/index.css
  frontend/src/routes.ts
  frontend/src/services/LoginService.ts
  frontend/src/types/LoginRequest.ts
  frontend/src/types/Route.ts
  frontend/src/views/Login.tsx
  frontend/src/views/Upload.tsx
Labels: enhancement, Front

#21 13 get the list of all users
  backend/passport/bearer_token.js
  backend/prisma/schema.prisma
  backend/server.js
Labels: enhancement, Back

#24 Added dockerfile and startup script
  docker-compose.yaml
  frontend/Dockerfile
  frontend/start.sh
Labels: Front

#26 23 fill student database when new user created
  backend/package.json
  backend/passport/strategy_options.js
  backend/prisma/schema.prisma
  backend/server.js
Labels: enhancement, Back

#30 28 endpoint creation of course
  backend/server.js
Labels: enhancement, Back

#32 Simplify the replies from the server
  backend/server.js
Labels: Back

#34 Creation of Assignments to a Course
  backend/server.js
Labels: enhancement, Back

#36 Creation of Enrollment and Fixtures
  backend/server.js
Labels: enhancement, Back

#33 27 create the signup page for student accounts
  backend/pnpm-lock.yaml
  frontend/src/App.css
  frontend/src/components/LoginForm.tsx
  frontend/src/components/SignupForm.tsx
  frontend/src/routes.ts
  frontend/src/services/SignupService.ts
  frontend/src/types/SignupRequest.ts
  frontend/src/views/Login.tsx
  frontend/src/views/Signup.tsx
Labels: enhancement, Front
